{% extends "base.html" %}
{%load static%}
{% block content%}
<main>
    <section id="cart">
        <h2>News</h2>
        {% for post in posts %}
            <div class="news-article">
                <a href="{% url 'detail' post.id %}">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="news-image">
                </a>
                    <div class="news-content">
                        <h3>{{ post.title }}</h3>
                        <p class="category">{{ post.category }}</p>
                        <p class="category">views {{ post.watch_count }}</p>
                        <p class="category">{{ post.created_at  }}</p>
                        <div class="like-dislike">
                            <div class="like-section">
                                <img src="{% static 'images/like.png' %}" alt="Like" class="like-button" onclick="likePost({{ post.id }})">
                                <span id="likes-{{ post.id }}">{{ post.likes }}</span>
                            </div>
                            <div class="dislike-section">
                                <img src="{% static 'images/dislike.png' %}" alt="Dislike" class="dislike-button" onclick="dislikePost({{ post.id }})">
                                <span id="dislikes-{{ post.id }}">{{ post.dislikes }}</span>
                            </div>
                        </div>
                    </div>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                    <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
</main>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function likePost(postId) {
        fetch(`/like/${postId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
            }
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById(`likes-${postId}`).innerText = data.likes;
            document.getElementById(`dislikes-${postId}`).innerText = data.dislikes;
        });
    }

    function dislikePost(postId) {
        fetch(`/dislike/${postId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
            }
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById(`likes-${postId}`).innerText = data.likes;
            document.getElementById(`dislikes-${postId}`).innerText = data.dislikes;
        });
    }
</script>

{% endblock%}